# Welcome to Sinai Jekyll Theme!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

theme_version: 1.0.1

# Site settings
title: Think, Write; Rethink, Rewrite.
email: blog@gidi.io
description: >- # this means to ignore newlines until "baseurl:"
  Gidi Morris is an experienced web developer who has worn many different hats throughout their career. 
  He has a wide range of experience ranging from Front End to Back End and Infrastructure development.
author:
  Gidi Meir Morris
baseurl:            '' # The subpath of your site, e.g. /blog
url:                'https://www.gidi.io/' # The base hostname & protocol for your site
twitter:            https://twitter.com/chekofif

google_analytics: UA-66893134-1

markdown:  kramdown
permalink: pretty
paginate:  12
sass:
  style: compressed

gems:
  - jekyll-paginate
  - jekyll/tagging

include:
  - _pages

exclude:
  - vendor
  - Gemfile
  - Gemfile.lock

# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  pretty

# Pages path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext