.catalogue {
  padding: 2em 0em;
  font-family: 'Tajawal', sans-serif;
  margin: auto;
  .catalogue-item {
    position: relative;
    > i {
      position: absolute;
      left: -2.3em;
      font-size: 1.8em;
      background: #eee;
      color: white;
      width: 1.7em;
      line-height: 1.7em;
      text-align: center;
      border-radius: 1em;
      top: 0.9em;
    }
    &:hover > i {
      background: $article-red;
    }
    > div {
      margin-bottom: 4em;
    }
    h1, time {
      color: $article-red;
    }
    p {
      color: black;
    }
  }
}