.catalogue {
  padding: 2em 0em;
  font-family: 'Tajawal', sans-serif;
  margin: auto;
  .catalogue-item {
    position: relative;
    @media (min-width: 740px) {
      width: 80%;
    }

    > i {
      float: right;
      position: static;
      font-size: 1.4em;
      width: 1.65em;
      line-height: 1.65em;
      color: white;
      text-align: center;
      border-radius: 1em;
      background: lighten($article-red, 10%);

      @media (min-width: 630px) {
        font-size: 1.6em;
        width: 1.7em;
        line-height: 1.7em;
      }

      @media (min-width: 740px) {
        position: absolute;
        left: -2.3em;
        top: 0.9em;
        background: #eee;
        font-size: 1.8em;
        width: 1.7em;
        line-height: 1.7em;
      }
    }
    &:hover > i {
      background: $article-red;
    }

    > div {
      margin-bottom: 4em;
    }
    h1, time {
      color: $article-red;
    }
    p {
      color: black;
    }
  }
}