.catalogue {
  padding: 2em 0em 0em;
  font-family: 'Tajawal', sans-serif;
  margin: auto;
  .catalogue-item {
    margin: 4em 0 2em;
    display: block;
    
    @media (min-width: 740px) {
      width: 80%;
    }

    h1 {
      position: relative;
      margin: 0.2em 0 0.3em;
      > i {
        margin-left: 1em;
        float: right;
        position: static;
        font-size: 0.8em;
        width: 1.7em;
        line-height: 1.7em;
        color: white;
        text-align: center;
        border-radius: 1em;
        background: lighten($article-red, 10%);
  
        @media (min-width: 630px) {
          margin-left: 0;
          font-size: 0.8em;
          width: 1.7em;
          line-height: 1.7em;
        }
  
        @media (min-width: 740px) {
          position: absolute;
          left: -2.3em;
          top: -0.35em;
          background: #eee;
          font-size: 0.8em;
          width: 1.7em;
          line-height: 1.7em;
        }
      }
    }    
    &:hover h1 i {
      background: $article-red;
    }
    
    &:first-child {
      margin-top: 1em;
    }

    h1, time, span {
      color: $article-red;
    }
    span {
      font-style: italic;
      i {
        font-size: 0.8em;
        vertical-align: middle;
        margin: 0em 0.5em;
        opacity: 0.5;
      }
    }
    p {
      color: black;
    }
  }
}