body {
  background-color: #fafafb;
  @function svgbg($opacity) {
    @return "data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0." + $opacity + "' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E";
  }
  background-image: url(svgbg(4));
  article {
    background: white;
    background-image: url(svgbg('08'));
  }
  > main, > header {
    background-color: #fff;
    background-image: url(svgbg(15));
    padding-bottom: 20px;
    nav {
      padding: 10px 20px 0px;
    }
  }
}

$article-red: #FF4A46;
.article-red {
  color: $article-red;
}
.bg-article-red {
  background-color: $article-red;
}

article, .catalogue {
  width: 90%;

  @media (min-width: 740px) {
    width: 80%;
  }

  @media (min-width: 1160px) {
    width: 60%;
  }
}

body {
  padding: 25px;
  a {
    text-decoration: none;
  }
  .folio {
    a {
      text-decoration: none;
      color: $article-red;
      &.site-title {
        color: black;
      }
      i {
        margin-right: 0.5em;
      }
    }
    .logo {
      i {
        margin: 0em;
      }    
    }
  }
}

.f8 {
  font-size: .65rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .75rem;
  grid-auto-rows: 55px;
  margin: 30px auto 20px;
  border-top: 1px solid #000;
  max-width: 950px;
}

.folio-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  border-right: 1px solid #000;
}

.folio-2 {
  grid-column-start: 3;
  grid-column-end: 8;
}

.folio-3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  border-top: 1px solid #000;
}

.folio-4 {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 2;
  border-top: 1px solid #000;
}

//tablet
@media (min-width: 740px) {
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .75rem;
    grid-auto-rows: 55px;
    margin: 30px auto 20px;
    max-width: 950px;
  }

  .folio-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    border-right: 1px solid #000;
  }

  .folio-2 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    border-right: 1px solid #000;
  }

  .folio-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    border-right: 1px solid #000;
    border-top: none;
  }

  .folio-4 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    border-top: none;
  }
}

// desktop
@media (min-width: 1160px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .75rem;
    grid-auto-rows: 55px;
    max-width: 1100px;
    margin: 30px auto 20px;
    border-top: 1px solid #000;
  }

  .folio-1 {
    grid-column-start: 1;
    grid-column-end: span 2;
    border-right: 1px solid #000;
  }

  .folio-2 {
    grid-column-start: 3;
    grid-column-end: span 4;
    border-right: 1px solid #000;
  }

  .folio-3 {
    grid-column: span 2;
    border-right: 1px solid #000;
  }

  .folio-4 {
    grid-column: span 2;
  }
}