footer.grid {
  grid-auto-rows: auto;
  width: 100%;
  max-width: none;
  margin-bottom: 0px;
  .footer-nav-title {
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 0em 0em 0em 2em;
    a {
      color:black;
    }
  }
  
  .footer-nav-email {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    a {
      color:$article-red;
    }
  }
  
  //tablet
  @media (min-width: 740px) {
    .footer-nav-title {
      grid-column-start: 1;
      grid-column-end: 5;
      border-right: 1px solid #000;
    }
  
    .footer-nav-email {
      grid-column-start: 5;
      border-top: none;
    }
  }
  
  // desktop
  @media (min-width: 1160px) {
    .footer-nav-title {
      padding-right: 1em;
      grid-column-start: 1;
      grid-column-end: 4;
      border-right: 1px solid #000;
    }
  
    .footer-nav-email {
      grid-column-start: 4;
    }
  }
}