.page-pagination {
  position: relative;
  a {
    color: black;
    display: inline-block;
    max-width: 40%;
    cursor: pointer;
  
    i {
      color: $article-red;
      display: block;
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 0.2em;
      cursor: pointer;
    }
    label {
      display: block;
      color: grey;
      line-height: 2em;
      cursor: pointer;
    }
    
    &.prev {
      text-align: left;
    }
    
    &.next {
      text-align: right;
      float: right;
    }
  }

   span {
    font-size: 0.7em;
    font-weight: bold;
    color: $article-red;
   }
  
  #home {
    color: $article-red;
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 2em;
    @media (max-width: 740px) {
      font-size: 0.8em;
    }
  }
  
  @media (max-width: 520px) {
    a span {
      display: none;
    }
  }
}
