@import 'code-highlights';

article {
  text-align: justify;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.5em;
  margin: auto;
  margin-top: 20px;
  padding: 20px 5%;
  line-height: 1.25;

  @media (min-width: 520px) {
    padding: 20px 50px;
  }

  header {
    margin: 0 0 30px 0;
    text-align: center;
    h1 {
      font-size: 1.3em;
    }
    @media (min-width: 520px) {
      h1 {
        font-size: 2em;
        text-align: center;
      }
    }

    .dateline {
      font-size: 1.5em;
      color: rgba(0,0,0,0.54);
    }
  }

  .post-banner{
    display: block;
    // height: 250px;
    margin: 0 auto 2em;

    // @media (min-width: 630px) {
    //   height: 300px;
    // }
    // @media (min-width: 740px) {
    //   height: 350px;
    // }
    // @media (min-width: 950px) {
    //   height: 400px;
    // }
    // @media (min-width: 1160px) {
    //   height: 500px;
    // }

    // &.banner-eye {
    //   background: url(/assets/img/banners/eye.png) no-repeat white;
    //   background-position-x: center;
    //   background-size: contain;
    // }

    // &.banner-electromotor {
    //   background: url(/assets/img/banners/construct.png) no-repeat white;
    //   background-position-x: center;
    //   background-size: contain;
    // }
  }

  a {
    color: $article-red;
    font-weight: bold;
  }
  
  h2 {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.5rem;
  }

  @media (min-width: 740px) {
    h2 {
      font-size: 2em;
    }
  }
  
  .dateline {
    font-style: italic;
  }

  code {
    font-size: 0.6em;
    @media (min-width: 630px) {
      font-size: 0.65em;
    }
    @media (min-width: 740px) {
      font-size: 0.7em;
    }
  }
    
  section {
    &.cl2 {
      columns: 1;
    }
    &.no-indent {
      > p {
        text-indent: 0;
      }
    }
    
    > p {
      text-indent: 0rem;
      @media (min-width: 520px) {
        // text-indent: 2rem;
        img:first-child {
          position: relative;
          left: -2rem;
        }
      }
      margin: 0;  
      margin-bottom: 1em;
    }

    small {
      width: 80%;
      display: block;
      margin: auto;
      text-indent: 0;
    }

    > p:first-child {
      text-indent: 0;
    }
    > p strong:first-child {
      font-style: italic;
      line-height: 0;
    }
  }
}

.tweet-container {
  > div > * {
    margin-left: auto;
    margin-right: auto;
  }
}