<footer class="grid">
  <div class="footer-nav footer-nav-title">
    <p class="ttu sans-serif tracked lh-copy b">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </p>
    <p class="ttu sans-serif tracked lh-copy b article-red">Gidi Meir Morris</p>
  </div>
  <div class="footer-nav footer-nav-email">
    <p class="ttu sans-serif tracked lh-copy b">
      {%- if site.email -%}
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      {%- endif -%}
    </p>
  </div>
</footer>
