{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<header class="grid">
  <div class="header-nav header-nav-logo f4 tr pt3 pr3">
    <a class="logo" href="{{ "/" | relative_url }}">
      <i class="article-red fas fa-sync-alt"></i>
      <i id="heart" class="article-red fas fa-hand-holding-heart"></i>
    </a>  
  </div>
  <div class="header-nav header-nav-title">
    <p class="ttu sans-serif tracked lh-copy b">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </p>
    <p class="ttu sans-serif tracked lh-copy b article-red">Gidi Meir Morris</p>
  </div>
  <div class="header-nav header-nav-github">
    <p class="ttu sans-serif tracked lh-copy b">Code</p>
    <p class="ttu sans-serif tracked lh-copy b">
      <a href="http://www.github.com/gmmorris">
        <i class="fas fa-code-branch"></i>Github
      </a>
    </p>
  </div>
  <div class="header-nav header-nav-cv">
    <p class="ttu sans-serif tracked lh-copy b">All Professional & Shit</p>
    <p class="ttu sans-serif tracked lh-copy b article-red">
      <a title="Status: Not Currently On The Market" href="http://gidi.io/cv/index.html">
          <i class="fas fa-user-secret"></i>CV
      </a>          
    </p>
  </div>
</header>
