/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  font-size: $font-size-h3;
  text-align: center;

  @include mq($from: tablet) {
    min-width: 75vw;
  }

  @include mq($from: desktop) {
    font-size: $font-size-h2;
    min-width: half($grid-width) + quarter($grid-width);
  }
}