<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <main aria-label="Content">
      {{ content }}
    </main>
    {%- include footer.html -%}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="application/javascript" >
      Array.prototype.slice.call(
        document.querySelectorAll('pre code')
      ).forEach(function(el){
        hljs.highlightBlock(el);

        Array.prototype.slice.call(
          el.querySelectorAll('.p')
        ).forEach(function(el){
          console.log(el.innerText);
          if(el.innerText === '|>' || el.innerText === '|') {
            el.className += ' re';
          }
        });

        Array.prototype.slice.call(
          el.querySelectorAll('.o, .o .hljs-function')
        ).forEach(function(el){
          console.log(el.innerText);
          if(el.innerText === '=>') {
            el.className += ' re';
          }
        });
      });
      
    </script>
  </body>
</html>