<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <main aria-label="Content">
      {{ content }}
    </main>
    {%- include footer.html -%}
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> -->
    <script src="/assets/highlight.js"></script>
    <script type="application/javascript" >
      function getAll(selector){
        return Array.prototype.slice.call(
          document.querySelectorAll(selector)
        );
      }

      getAll('pre code')
        .forEach(function(el){
          hljs.highlightBlock(el);
/*
          getAll('.p')
            .forEach(function(el){
              if(el.innerText === '|>' || el.innerText === '|') {
                el.className += ' re';
              }
            });

          getAll('.o, .o .hljs-function')
            .forEach(function(el){
              if(el.innerText === '=>') {
                el.className += ' re';
              }
            });*/
        });      
    </script>
  </body>
</html>