<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <main aria-label="Content">
      {{ content }}
    </main>
    <div style="background: #343434; color: darkorange;">
      <div id="example"></div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="application/javascript" >
      Array.prototype.slice.call(
        document.querySelectorAll('pre code')
      ).forEach(function(el){
        hljs.highlightBlock(el);
      });
    </script>
  </body>
</html>