---
layout: default
---
<div class="catalogue">
    {% for post in site.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
          {% capture words %}
            {{ post.content | number_of_words | minus: 250 }}
          {% endcapture %}
          {% unless words contains "-" %}
            <span class="read-time"><i class="fas fa-ellipsis-h"></i>{{ words | plus: 250 | divided_by: 180 | append: " min read" }}</span>
          {% endunless %}
          <h1 class="catalogue-title">
            {% if post.icon %}
            <i class="fas fa-{{post.icon}}"></i>
            {% else %}
            <i class="fas fa-leaf"></i>
            {% endif %}
            {{ post.title }}
          </h1>
          <p>
            {{ post.content | strip_html | truncatewords: 34 }}
            <!-- {{ post.description }} -->
          </p>
      </a>
    {% endfor %}
  </div>
